@charset "utf-8";
/* 
--- General Content Styling ---
*/
h2 {
    color: ;
    border-bottom: ;
    padding-bottom: ;
    margin-top: 
}

ul {
    list-style: ;
    padding-left: ;
}

footer {
    width: ;
    padding: ;
    text-align: ;
    color: ;
    margin-top: ;
    font-size: ;
}
